<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jan Aaron</title>
  <link rel="stylesheet" href="/style/gallery.css">
  <link rel="stylesheet" href="/style/modal.css">
  <script src="/script/gallery.js" defer></script>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Jan Aaron</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <% if (user) { %>
      <p>Sisse loginud kasutaja:  <%= user.firstName %> <%= user.lastName %></p>
  <% } %>
  <ul>
	<li><a href="/home">Avalehele</a></li>
  </ul>
  <hr>
  <dialog id="modal" class="modalarea">
	<span id="modalClose" class="modalclose">&times;</span>
	<div class="modalhorizontal">
		<div class="modalvertical">
		<P id="modalCaption"></p>
		<img id="modalImage" src="/pics/empty.png" alt="galeriipilt">
	</div>
  </dialog>
  <h2>Fotogalerii</h2>
  <div id="gallery" class="gallery">
  
	  <% listData.forEach(function(image){ %>
		<img src="<%= image.href %><%= image.filename %>" alt="<%= image.alt %>" class="thumbs" data-filename="<%= image.fileName %>">
	  <% }); %>
  </div>
</body>
</html>