<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Jan Aaron Einloo</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Jan Aaron Einloo</h1>
  <p>see leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Lisa andmebaasi</h2>
  <p>Lisa näitleja</p>
  <form method="POST" action="/personSubmit">
	<label for="firstNameInput">Eesnimi: </label>
	<input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi..." value="<%= firstName %>">
	<br>
	<label for="lastNameInput">Perekonnanimi: </label>
	<input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi..." value="<%= lastName %>">
	<br>
	<input type="submit" id="personSubmit" name="personSubmit" value="Salvesta">
	<p><%= notice1 %></p>
  </form>
  <br>
  <p>Lisa film</p>
  <form method="POST" action="/movieSubmit">
	<label for="movieNameInput">Film: </label>
	<input type="text" id="movieTitleInput" name="movieTitleInput" placeholder="Film..." value="<%= movieTitle %>">
	<br>
	<input type="submit" id="movieSubmit" name="movieSubmit" value="Salvesta">
	<p><%= notice2 %></p>
  </form>
  <br>
  <p>Lisa roll</p>
  <form method="POST" action="/roleSubmit">
	<label for="positionNameInput">Roll: </label>
	<input type="text" id="positionNameInput" name="positionNameInput" placeholder="Roll..." value="<%= positionName %>">
	<br>
	<input type="submit" id="roleSubmit" name="roleSubmit" value="Salvesta">
	<p><%= notice3 %></p>
  </form>
 </body>
 </html>